In [1]:
from BayesianNetworks import *
import numpy as np
import pandas as pd

In [2]:
riskFactorNet = pd.read_csv('RiskFactorsData.csv')

# Create factors

income      = readFactorTablefromData(riskFactorNet, ['income'])
smoke       = readFactorTablefromData(riskFactorNet, ['smoke', 'income'])
exercise    = readFactorTablefromData(riskFactorNet, ['exercise', 'income'])
bmi         = readFactorTablefromData(riskFactorNet, ['bmi', 'income'])
diabetes    = readFactorTablefromData(riskFactorNet, ['diabetes', 'bmi'])
## you need to create more factor tables

risk_net = [income, smoke, exercise, bmi, diabetes]
print("income dataframe is ")
print(income)
factors = riskFactorNet.columns

income dataframe is
      probs  income
0  0.050848       1
1  0.059429       2
2  0.074042       3
3  0.094414       4
4  0.116356       5
5  0.150725       6
6  0.164430       7
7  0.289755       8

In [37]:
a = pd.merge(smoke, bmi, on='income', how='outer')
a['probs_x'] *= a['probs_y']
a = a.rename(columns={'probs_x':'probs'}).drop(columns=['probs_y','income'])
a

       probs  smoke  bmi
0   0.014355      1    1
1   0.154548      1    2
2   0.167318      1    3
3   0.208514      1    4
4   0.011997      2    1
5   0.129164      2    2
6   0.139837      2    3
7   0.174267      2    4
8   0.012758      1    1
9   0.163508      1    2
10  0.187640      1    3
11  0.203164      1    4
12  0.009740      2    1
13  0.124830      2    2
14  0.143254      2    3
15  0.155106      2    4
16  0.011056      1    1
17  0.154446      1    2
18  0.184304      1    3
19  0.181375      1    4
20  0.009758      2    1
21  0.136313      2    2
22  0.162666      2    3
23  0.160081      2    4
24  0.009230      1    1
25  0.160055      1    2
26  0.186871      1    3
27  0.169911      1    4
28  0.008315      2    1
29  0.144193      2    2
..       ...    ...  ...
34  0.186222      1    3
35  0.156378      1    4
36  0.007164      2    1
37  0.152803      2    2
38  0.180847      2    3
39  0.151864      2    4
40  0.006137      1    1
41  0.150816      1    2
42  0.186563      1    3
43  0.149703      1    4
44  0.006306      2    1
45  0.154963      2    2
46  0.191692      2    3
47  0.153819      2    4
48  0.004842      1    1
49  0.142813      1    2
50  0.173320      1    3
51  0.131371      1    4
52  0.005862      2    1
53  0.172903      2    2
54  0.209838      2    3
55  0.159051      2    4
56  0.003966      1    1
57  0.140901      1    2
58  0.149581      1    3
59  0.089092      1    4
60  0.006375      2    1
61  0.226468      2    2
62  0.240421      2    3
63  0.143196      2    4

[64 rows x 3 columns]

In [38]:
a = a[a.columns].groupby(['smoke','bmi'], as_index=False).sum()
a

   smoke  bmi     probs
0      1    1  0.069721
1      1    2  1.224431
2      1    3  1.421819
3      1    4  1.289509
4      2    1  0.065517
5      2    2  1.241639
6      2    3  1.436907
7      2    4  1.250457

In [95]:
bmi

       probs  income  bmi
0   0.026353       1    1
1   0.022498       2    1
2   0.020814       3    1
3   0.017545       4    1
4   0.014541       5    1
5   0.012442       6    1
6   0.010704       7    1
7   0.010341       8    1
8   0.283711       1    2
9   0.288338       2    2
10  0.290759       3    2
11  0.304248       4    2
12  0.310148       5    2
13  0.305780       6    2
14  0.315716       7    2
15  0.367369       8    2
16  0.307155       1    3
17  0.330894       2    3
18  0.346970       3    3
19  0.355223       4    3
20  0.367068       5    3
21  0.378255       6    3
22  0.383158       7    3
23  0.390002       8    3
24  0.382781       1    4
25  0.358270       2    4
26  0.341457       3    4
27  0.322984       4    4
28  0.308242       5    4
29  0.303523       6    4
30  0.290422       7    4
31  0.232288       8    4

In [96]:
pd.merge(smoke, bmi.drop(columns='probs'), on='income', how='outer')

       probs  income  smoke  bmi
0   0.544735       1      1    1
1   0.544735       1      1    2
2   0.544735       1      1    3
3   0.544735       1      1    4
4   0.455265       1      2    1
5   0.455265       1      2    2
6   0.455265       1      2    3
7   0.455265       1      2    4
8   0.567070       2      1    1
9   0.567070       2      1    2
10  0.567070       2      1    3
11  0.567070       2      1    4
12  0.432930       2      2    1
13  0.432930       2      2    2
14  0.432930       2      2    3
15  0.432930       2      2    4
16  0.531181       3      1    1
17  0.531181       3      1    2
18  0.531181       3      1    3
19  0.531181       3      1    4
20  0.468819       3      2    1
21  0.468819       3      2    2
22  0.468819       3      2    3
23  0.468819       3      2    4
24  0.526067       4      1    1
25  0.526067       4      1    2
26  0.526067       4      1    3
27  0.526067       4      1    4
28  0.473933       4      2    1
29  0.473933       4      2    2
..       ...     ...    ...  ...
34  0.507322       5      1    3
35  0.507322       5      1    4
36  0.492678       5      2    1
37  0.492678       5      2    2
38  0.492678       5      2    3
39  0.492678       5      2    4
40  0.493220       6      1    1
41  0.493220       6      1    2
42  0.493220       6      1    3
43  0.493220       6      1    4
44  0.506780       6      2    1
45  0.506780       6      2    2
46  0.506780       6      2    3
47  0.506780       6      2    4
48  0.452346       7      1    1
49  0.452346       7      1    2
50  0.452346       7      1    3
51  0.452346       7      1    4
52  0.547654       7      2    1
53  0.547654       7      2    2
54  0.547654       7      2    3
55  0.547654       7      2    4
56  0.383540       8      1    1
57  0.383540       8      1    2
58  0.383540       8      1    3
59  0.383540       8      1    4
60  0.616460       8      2    1
61  0.616460       8      2    2
62  0.616460       8      2    3
63  0.616460       8      2    4

[64 rows x 4 columns]

In [69]:
def find_index(mask, value):
    return int(np.argwhere(np.all(mask[mask.columns].values==value, axis=1)==True))
smoke

       probs  income  smoke
0   0.544735       1      1
1   0.567070       2      1
2   0.531181       3      1
3   0.526067       4      1
4   0.507322       5      1
5   0.493220       6      1
6   0.452346       7      1
7   0.383540       8      1
8   0.455265       1      2
9   0.432930       2      2
10  0.468819       3      2
11  0.473933       4      2
12  0.492678       5      2
13  0.506780       6      2
14  0.547654       7      2
15  0.616460       8      2

In [159]:
def joinFactors(Factor1, Factor2):
    # your code
    if (not Factor1.empty) and (not Factor2.empty):
        overlap = list(set(Factor1.columns).intersection(set(Factor2.columns)))
        overlap.remove('probs')
        if len(overlap)==0:
            return pd.merge(Factor1, Factor2)
        if len(Factor1.columns)<=len(Factor2.columns):
            biggerFactor = pd.DataFrame.copy(Factor2)
            smallerFactor = Factor1
        else:
            biggerFactor = pd.DataFrame.copy(Factor1)
            smallerFactor = Factor2
        mask = smallerFactor.drop(columns='probs')
        Factor = pd.merge(biggerFactor, mask, on=overlap, how='outer')
        elements = list(mask.columns)
        func(Factor, smallerFactor, elements, {})
        return Factor
    else:
        if Factor1.empty:
            return Factor2
        if Factor2.empty:
            return Factor1

In [160]:
def func(Factor, mask, elements, dic):
    element = elements.pop()
    outcome = set(Factor[element])
    for i in outcome:
        dic[element]=i
        if len(elements)==0:
            indexes = list(dic.items())
            Factor[Factor[element]==i]['probs']*=func2(mask, indexes)
        else:
            func(Factor[Factor[element]==i], mask[element], elements, dic)

In [161]:
def func2(mask, indexes):
    index = indexes.pop()
    if len(indexes)==0:
        return mask[mask[index[0]]==index[1]]['prob']
    else:
        func2(mask[mask[index[0]]==index[1]], indexes)

In [118]:
smoke[smoke['income']==1][smoke['smoke']==1]['probs']*smoke[smoke['income']==1][smoke['smoke']==1]['probs'].values

/home/hunter/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0    0.296737
Name: probs, dtype: float64

In [3]:
BatteryState = readFactorTable(['battery'], [0.9, 0.1], [[1, 0]])
FuelState = readFactorTable(['fuel'], [0.9, 0.1], [[1, 0]])
GaugeBF = readFactorTable(['gauge', 'battery', 'fuel'], [0.8, 0.2, 0.2, 0.1, 0.2, 0.8, 0.8, 0.9], [[1, 0], [1, 0], [1, 0]])

carNet = [BatteryState, FuelState, GaugeBF]

In [47]:
a = list(BatteryState.columns)
b = list(FuelState.columns)
b.remove('probs')
varnames = a+b
varnames.remove('probs')
l = len(varnames)
data = {}
probs = {}
for i in range(l):
    data[varnames[i]]=[]
probs={}
probs['probs']=[]
width1 = BatteryState.iloc[:,0].size
width2 = FuelState.iloc[:,0].size
for i in range(width1):
    for j in range(width2):
        probs['probs'].append(BatteryState['probs'][i]*FuelState['probs'][j])
        for k in range(l):
            try:
                data[varnames[k]].append(BatteryState[varnames[k]][i])
            except KeyError:
                data[varnames[k]].append(FuelState[varnames[k]][j])
print(probs)
print(data)

{'probs': [0.81, 0.09000000000000001, 0.09000000000000001, 0.010000000000000002]}
{'battery': [1, 1, 0, 0], 'fuel': [1, 0, 1, 0]}

In [49]:
varnames.append('probs')
raw_data = probs.copy()
raw_data.update(data)
df = pd.DataFrame(raw_data, columns=varnames)
df

   battery  fuel  probs
0        1     1   0.81
1        1     0   0.09
2        0     1   0.09
3        0     0   0.01

In [4]:
joinFactors(BatteryState, FuelState)

   battery  fuel  probs
0        1     1   0.81
1        1     0   0.09
2        0     1   0.09
3        0     0   0.01

In [5]:
joinFactors(joinFactors(BatteryState, FuelState), GaugeBF)

   battery  fuel  probs  gauge
0        1     1  0.648      1
1        1     1  0.162      0
2        1     0  0.018      1
3        1     0  0.072      0
4        0     1  0.018      1
5        0     1  0.072      0
6        0     0  0.001      1
7        0     0  0.009      0

In [158]:
dic = {'fuel':1, 'battery':1, 'gauge':1}
l1= dic.items()
list(l1)

[('fuel', 1), ('battery', 1), ('gauge', 1)]

In [10]:
joinFactors(BatteryState, FuelState)

   probs  battery  fuel
0    0.9        1     1
1    0.1        0     0

In [12]:
pd.merge(BatteryState, FuelState, on='probs')

   probs  battery  fuel
0    0.9        1     1
1    0.1        0     0

In [1]:
connection = {'income':['income'], 'smoke':['smoke', 'income'], 'exercise':['exercise', 'income'], 
                           'bmi':['bmi', 'income'], 'bp':['bp', 'exercise', 'income', 'smoke'],
                           'cholesterol':['cholesterol', 'exercise', 'income', 'smoke'],'diabetes':['diabetes', 'bmi'], 
                           'stroke':['stroke', 'bmi', 'bp', 'cholesterol'], 'attack':['attack', 'bmi', 'bp', 'cholesterol'], 
                           'angina':['angina', 'bmi', 'bp', 'cholesterol']}

In [3]:
l = [val for val in connection]
l

['income',
 'smoke',
 'exercise',
 'bmi',
 'bp',
 'cholesterol',
 'diabetes',
 'stroke',
 'attack',
 'angina']

In [4]:
len()

TypeError: object of type 'NoneType' has no len()